{% extends "base.html" %}

{% load i18n %}

{% block content %}
<h1 class="about-title">About Us</h1>
<div class="container-fluid">
  <p class="about-us-description">
    We set up 'The Smoothie Hub' in 2022 after hearing about so many great smoothie recipies during our travels. We wanted to create an online community where people could come together and share their tastiest recipies and vote for their favorite ones! Submit your favourite smoothie recipes for a chance to be featured on our <a href="{% url 'recipes' %}">"Featured Recipes"</a> page. If you have any questions about a recipe, sign up for a free account and drop a comment under the specific recipe. Feel free to shoot us a message <a href="{% url 'contact' %}">here</a> if you have any questions for us!
  </p>
  <div class="container-fluid">
    <img class="about-us-img" src="https://cdn.shopify.com/s/files/1/0162/3378/files/JuiceTruck_Ryan-Zach.jpg" alt="site founders">
 </div> 
 <br>
 <p class="about-us-signature">
  Zach and Ryan
 </p>
</div>

{% endblock %}