{% extends "base.html" %}

{% load i18n %}

{% block content %}

<!-- Contact Form -->

    <section class="contact-title-height  mb-4">
        <h2 class="contact-title h1-responsive font-weight-bold text-center my-4">Contact Us</h2>
        <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
            a matter of hours to help you.</p>

    </section>

    

    <div class="contact-list container">
        <div>
            <div>
                <li class="contact-list"><i class="fas fa-map-marker-alt fa-2x"></i>
                    <p>Cashel, Co. Tipperary, Ireland</p>
                </li>
            </div>
            <div>
                <li class="contact-list"><i class="fas fa-phone mt-4 fa-2x"></i>
                    <p>062 62906</p>
                </li>
            </div>
            <div class="col">
                <li class="contact-list"><i class="fas fa-envelope mt-4 fa-2x"></i>
                    <p>
                        <a href="mailto:info@tsh.com">info@tsh.com</a>
                    </p>
                </li>
            </div>
        </div>
    </div>
        <!-- <div class="row">
            <ul class="">
                <li class="contact-list col-sm"><i class="fas fa-map-marker-alt fa-2x"></i>
                    <p>Cashel, Co. Tipperary, Ireland</p>
                </li>

                <li class="contact-list col-sm"><i class="fas fa-phone mt-4 fa-2x"></i>
                    <p>062 62906</p>
                </li>

                <li class="contact-list col-sm"><i class="fas fa-envelope mt-4 fa-2x"></i>
                    <p>contact@tsh.com</p>
                </li>
            </ul>
        </div>
      </div> -->


{% endblock %}