{% extends "base.html" %}

{% load i18n %}

{% block content %}

    <h2 class="about-title">Submit A New Recipe</h2>
    {% if user.is_authenticated %}

    <div class="create-recipe-form">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <div>
                <p>
                    <button class="submit-button smoothie-button" type="submit">Submit Recipe</button>
                </p>
            </div>
        </form>
    </div>

    {% else %}
        <p class="recipe-login-prompt">You must log in to submit a new recipe. You can log in <a href="{% url 'account_login' %}">here</a>!</p>
    {% endif %}



{% endblock %}