{% extends "base.html" %}

{% block content %}

<div class="container"> 
    <div class="row"> 
       <div class="col-sm-12 smoothie-img-align">
           <img class="smoothie-img" src="https://img.taste.com.au/n9z1v4Gq/taste/2018/10/smoothies-142447-1.jpg" alt="green smoothie">
           <br>
           <a href="{% url 'featured_recipe' %}">
               <button class="smoothie-button green-button">See Featured Smoothie Recipes</button>
            </a>
       </div>
    </div> 
</div>

{%endblock%}
