{% extends "base.html" %}

{% load i18n %}

{% block content %}

<div class="container"> 
    <div class="row"> 
       <div class="col-sm-12 green-smoothie-align">
           <img class="green-smoothie-img" src="https://img.taste.com.au/n9z1v4Gq/taste/2018/10/smoothies-142447-1.jpg" alt="green smoothie">
           <br>
           <button class="smoothie-button green-button">
               See Smoothies
           </button>
       </div>
       <!-- <div class="col-sm-6 choc-smoothie-align">
           <img class="choc-smoothie-img" src="/assets/images/choc-smoothie.jpeg" alt="chocolate smoothie">
           <button class="smoothie-button choc-smoothie-button">
                Sweet Smoothies
            </button>
        </div> 
    </div>  -->
  </div> 

{% endblock %}