{% extends "base.html" %}

{% load i18n %}

{% block content %}

<h1 class="about-title">Your Recipes</h1>

{% if user.is_authenticated %}

<table class="table table-bordered recipe-table center">
        <thead class="recipe-table">
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Ingredients</th>
            <th scope="col">Method</th>
        </tr>
        </thead>
    {% for set in queryset %}    
        <tbody class="recipe-table">
        <tr>
            <td>{{ set.title }}</td>
            <td>{{ set.ingredients }}</td>
            <td>{{ set.method }}</td>
            <td>
                <a href="{% url 'edit_recipe' set.id %}">
                    <button>Edit</button>
                </a>
            </td>
            <td>
                <a href="{% url 'delete_recipe' set.id %}">
                    <button>Delete</button>
                </a>
            </td>
        </tr>
        </tbody>
    {% endfor %}    
</table>


    <div class="add-recipe-link">
        <a href="/create">Add a Recipe!</a>
    </div>

{% else %}
    <p class="recipe-login-prompt">You must log in to view your recipes. You can log in <a href="{% url 'account_login' %}">here</a>!</p>
{% endif %}


{% endblock %}